In [5]:
#QUS1

#The for loop is used when we already know the number of iterations, 
#which means when we know how many times a statement has to be executed

#use for loop

for i in range(10):
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9

In [9]:
#Keep on iterating until the condition is false . 
#This is known as an indefinite iteration.

#use while loop

i=0
while i<10:
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9

In [1]:
#QUS2

#SUM AND PRODUCT OF 10 NATURAL NUMBER, USE FOR LOOP

sum=0
product=1

for i in range(1,11):
    sum=sum+i
    product=product*i
    
    print("the sum of the first 10 natural number is",sum)
    print("the product of the first 10 natural number is:",product)

the sum of the first 10 natural number is 1
the product of the first 10 natural number is: 1
the sum of the first 10 natural number is 3
the product of the first 10 natural number is: 2
the sum of the first 10 natural number is 6
the product of the first 10 natural number is: 6
the sum of the first 10 natural number is 10
the product of the first 10 natural number is: 24
the sum of the first 10 natural number is 15
the product of the first 10 natural number is: 120
the sum of the first 10 natural number is 21
the product of the first 10 natural number is: 720
the sum of the first 10 natural number is 28
the product of the first 10 natural number is: 5040
the sum of the first 10 natural number is 36
the product of the first 10 natural number is: 40320
the sum of the first 10 natural number is 45
the product of the first 10 natural number is: 362880
the sum of the first 10 natural number is 55
the product of the first 10 natural number is: 3628800

In [3]:
#QUS3

unit=int(input("enter the units of electricity consumed in month"))


if unit<=100:
    
    bill=unit*4.5
    
elif unit<=200:
    
    bill=100*4.5+(unit-100)*6
    
elif unit<=300:
    
    bill=100*4.5+100*6+(unit-200)*10
    
elif unit>=300:
    
    bill=100*4.5+100*6+100*10+(unit-300)*20
    
print("the total electricity bill is :Rs.", bill)

enter the units of electricity consumed in month 310

the total electricity bill is :Rs. 2250.0

In [2]:
#QUS4


num=[]
cube_divisible=[]


for i in range(1,101):
    num.append(i)
    cube=i**3
    
    if cube%4==0 or cube%5==0:
        
        
        cube_divisible.append(cube)
    i=i+1
    
print("the list of cube divisible by 4 or 5 is:",cube_divisible)

the list of cube divisible by 4 or 5 is: [8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [1]:

num=[]
cube_divisible=[]

i=1
while i<=100:
    
    num.append(i)
    
    cube=i**3

    
    if cube%4==0 or cube%5==0:
        cube_divisible.append(cube)
        
    i=i+1
    
print("the list of cube divisible by 4 or 5 is:",cube_divisible)

the list of cube divisible by 4 or 5 is: [8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [9]:
#QUS5

string = "i want to become a data scientist"
vowels = "aeiou"

count=0

for char in string:
    if char in vowels:
        count=count+1
        
print("the number of vowels in string is:", count)

the number of vowels in string is: 12